<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <location path=".">
        <system.webServer>
            <directoryBrowse enabled="false" />
            <rewrite>
                <rules>
                    <rule name="rule 1E" stopProcessing="true">
                            <match url="^(admin)/$"  />
                            <action type="Rewrite" url="//{R:1}"  />
                    </rule>
                    <rule name="rule 2E" stopProcessing="true">
                            <match url="^admin(/.+)?$"  />
                            <action type="Rewrite" url="//backend/web/{R:1}"  />
                    </rule>
                    <rule name="rule 3E">
                            <match url="^(.*)$"  />
                            <action type="Rewrite" url="//frontend/web/{R:1}"  />
                    </rule>
                </rules>
            </rewrite>
        </system.webServer>
   </location>
</configuration>

