files:
  "/etc/httpd/conf.d/mod_deflate.conf":
    owner: root
    group: root
    content: |
      <IfModule mod_deflate.c>
          # Restrict compression to these MIME types
          AddOutputFilterByType DEFLATE text/plain
          AddOutputFilterByType DEFLATE text/html
          AddOutputFilterByType DEFLATE application/xhtml+xml
          AddOutputFilterByType DEFLATE text/xml
          AddOutputFilterByType DEFLATE application/xml
          AddOutputFilterByType DEFLATE application/xml+rss
          AddOutputFilterByType DEFLATE application/x-javascript
          AddOutputFilterByType DEFLATE text/javascript
          AddOutputFilterByType DEFLATE text/css
          #AddOutputFilterByType DEFLATE image/png
          #AddOutputFilterByType DEFLATE image/gif
          #AddOutputFilterByType DEFLATE image/jpeg
      
          # Level of compression (Highest 9 - Lowest 1)
          DeflateCompressionLevel 9
      
          # Netscape 4.x has some problems.
          BrowserMatch ^Mozilla/4 gzip-only-text/html
      
          # Netscape 4.06-4.08 have some more problems
          BrowserMatch ^Mozilla/4\.0[678] no-gzip
      
          # MSIE masquerades as Netscape, but it is fine
          BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
      
          <IfModule mod_headers.c>
              # Make sure proxies don't deliver the wrong content
              Header append Vary User-Agent env=!dont-vary
          </IfModule>
      </IfModule>

  "/etc/php.d/zcustom.ini":
    owner: root
    group: root
    content: |
      allow_url_fopen = On
      apc.rfc1867 = On
      date.timezone = 'America/Bogota'
      max_execution_time = 65
      memory_limit = 256M
      upload_max_filesize = 20M
      post_max_size = 21M
      zlib.output_compression = Off
      
  "/etc/httpd/conf.d/vhost.conf":
      mode: "000644"
      owner: root
      group: root
      encoding: plain
      content: |
        NameVirtualHost *:80

        <VirtualHost *:80>
          ServerName obib2.hyntibasoftware.co
          ServerAlias obib2.hyntibasoftware.co
          DocumentRoot /var/www/html/frontend/web
        </VirtualHost>
        <VirtualHost *:80>
          ServerName backend.obib2.hyntibasoftware.co
          DocumentRoot /var/www/html/backend/web
        </VirtualHost>
