{
    "option_settings" :
    [
        {
            "option_name": "SMTP_HOST",
            "value": "smtp.gmail.com"
        },
        {
            "option_name": "USERNAME",
            "value": "nestor.acevedo.romero@gmail.com"
        },
        {
            "option_name": "PASSWORD",
            "value": "/)(+-&_$#@"
        },
        {
            "option_name": "adminEmail",
            "value": "nestor.acevedo.romero@gmail.com"
        },
        {
            "option_name": "supportEmail",
            "value": "support@example.com"
        }
    ]
}
