packages:
  rpm:
    appdynamics-php-agent: https://s3.amazonaws.com/cdn.hyntibasoftware.co/appdynamics-php-agent.x86_64.rpm
  commands:
    configure_agent: 
        env:
            APPD_CONF_CONTROLLER_HOST: grace201709270945463.saas.appdynamics.com
            APPD_CONF_CONTROLLER_PORT: 443
            APPD_CONF_APP: OpenBiblio2
            APPD_CONF_ACCOUNT_NAME: grace201709270945463
            APPD_CONF_ACCESS_KEY: whvmwjoa1jyc
            APPD_CONF_SSL_ENABLED: true

files:
  "/tmp/appdynamics_agent.sh":
    mode: "000755" 
    owner: root
    group: root
    content: |
      #!/bin/bash
      instance_id=`curl http://169.254.169.254/latest/meta-data/instance-id`
      local_hostname=`curl http://169.254.169.254/latest/meta-data/local-hostname`
      echo '[AppDynamics Agent]' > /etc/php.d/appdynamics_agent.ini
      echo 'extension = appdynamics_agent.so' >> /etc/php.d/appdynamics_agent.ini
      echo 'agent.log4cxx_config = /usr/lib/appdynamics-php5/php/conf/appdynamics_agent_log4cxx.xml' >> /etc/php.d/appdynamics_agent.ini
      echo 'agent.php_agent_root = /usr/lib/appdynamics-php5' >> /etc/php.d/appdynamics_agent.ini
      echo 'agent.applicationName = "OpenBiblio2"' >> /etc/php.d/appdynamics_agent.ini
      echo 'agent.tierName = "'$instance_id'"' >> /etc/php.d/appdynamics_agent.ini
      echo 'agent.nodeName = "'$local_hostname'" >> /etc/php.d/appdynamics_agent.ini
      echo 'agent.controller.hostName = "grace201709270945463.saas.appdynamics.com"' >> /etc/php.d/appdynamics_agent.ini
      echo 'agent.controller.port = 443' >> /etc/php.d/appdynamics_agent.ini
      echo 'agent.accountName = "grace201709270945463"' >> /etc/php.d/appdynamics_agent.ini
      echo 'agent.accountAccessKey = "whvmwjoa1jyc"' >> /etc/php.d/appdynamics_agent.ini
      echo 'agent.controller.ssl.enabled = 1 >> /etc/php.d/appdynamics_agent.ini

commands:
  00appdynamics:
    command: /tmp/appdynamics_agent.sh 