packages:
  rpm:
    appdynamics-php-agent: https://download.appdynamics.com/download/prox/download-file/php-rpm/4.4.0.21351/appdynamics-php-agent.x86_64.rpm
        
  "/etc/php.d/appdynamics_agent.ini":
    owner: root
    group: root
    content: |
      agent.cli_enabled = 1
      agent.auto_launch_proxy = 0
      agent.applicationName = "OpenBiblio2"
      agent.tierName = "OpenBiblio2"
      agent.controller.hostName = "grace201709270945463.saas.appdynamics.com"
      agent.controller.port = 443
      agent.accountName = "grace201709270945463"
      agent.accountAccessKey = "whvmwjoa1jyc"
      
