
    packages:
      yum:
        memcached: []

    files:
      "/etc/sysconfig/memcached" :
        mode: "000644"
        owner: root
        group: root
        content: |
          PORT="11211"
          USER="memcached"
          MAXCONN="1024"
          CACHESIZE="1024"
          OPTIONS=""

    services:
      sysvinit:
        memcached:
          enabled: true
          ensureRunning: true
          packages:
            memcached: []
 
