commands:
    01updateComposer:
        command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: COMPOSER_HOME
      value: /root

container_commands:
    00-composer_assets_plugin:
        command: "/usr/bin/composer.phar global require 'fxp/composer-asset-plugin:^1.2.0'"
        ignoreErrors: false
    01-composer:
        command: "/usr/bin/composer.phar install -d /var/app/ondeck"
        ignoreErrors: false
