files:
  "/tmp/migrations_settings.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      ENVIRONMENT="$(/opt/elasticbeanstalk/bin/get-config environment)"
      echo '<?php' > /var/app/ondeck/console/config/database.php
      echo '$connection = json_decode("'$ENVIRONMENT'", true);' >> /var/app/ondeck/console/config/database.php 
      echo 'return [' >> /var/app/ondeck/console/config/database.php
      echo '    "class" => "yii\db\Connection",' >> /var/app/ondeck/console/config/database.php
      echo '    "dsn" => "mysql:host={$connection[\'RDS_HOSTNAME\']};dbname={$connection[\'RDS_DB_NAME\']}",' >> /var/app/ondeck/console/config/database.php
      echo '    "username" => "{$connection[\'RDS_USERNAME\']}",' >> /var/app/ondeck/console/config/database.php
      echo '    "password" => "{$connection[\'RDS_PASSWORD\']}",' >> /var/app/ondeck/console/config/database.php
      echo '    "charset" => "utf-8",' >> /var/app/ondeck/console/config/database.php
      echo '    "enableQueryCache" => false' >> /var/app/ondeck/console/config/database.php
      echo '];' >> /var/app/ondeck/console/config/database.php

commands:
  00-configure-migrations:
      command: /tmp/migrations_settings.sh
      ignoreErrors: false
  01-yii-init:
      command: "php /var/app/ondeck/init --env=Production --overwrite=n"
      ignoreErrors: false
