files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_adjust_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      EB_CONFIG_APP_CURRENT="/var/app/current"

      chown -R ec2-user:ec2-user $EB_CONFIG_APP_CURRENT
      chmod -R 755 $EB_CONFIG_APP_CURRENT

      mkdir -p $EB_CONFIG_APP_CURRENT/backend/tmp
      chown -R webapp:webapp $EB_CONFIG_APP_CURRENT/backend/tmp
      chmod 775 $EB_CONFIG_APP_CURRENT/backend/tmp

      chown -R webapp:webapp $EB_CONFIG_APP_CURRENT/frontend/images
      chmod 777 $EB_CONFIG_APP_CURRENT/app/storage



