files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/92_adjust_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      chown -R ec2-user:ec2-user /var/app/current
      chmod -R 755 /var/app/current

      mkdir -p /var/app/current/backend/web/tmp
      chown -R webapp:webapp /var/app/current/backend/web/tmp
