files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_migrations.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      /usr/bin/composer.phar install -d /var/app/current
      /usr/bin/php /var/app/current/init --env=Production --overwrite=n
      echo '<?php' > /var/app/current/common/config/main-local.php
      echo 'return [];' >> /var/app/current/common/config/main-local.php
      #
      echo '<?php' > /var/app/current/backend/config/params.php
      echo 'return [' >> /var/app/current/backend/config/params.php
      echo '    "adminEmail" => getenv("ADMIN_EMAIL"), ' >> /var/app/current/backend/config/params.php
      echo '    "baseUrlFrontend" => "//obib2.hyntibasoftware.co",' >> /var/app/current/backend/config/params.php
      echo '];' >> /var/app/current/backend/config/params.php

      # migraciones
      environment="$(/opt/elasticbeanstalk/bin/get-config environment)"
      host="$(echo "$environment" | sed -e 's/^.*"RDS_HOSTNAME":"\([^"]*\)".*$/\1/')"
      dbname="$(echo "$environment" | sed -e 's/^.*"RDS_DB_NAME":"\([^"]*\)".*$/\1/')"
      username="$(echo "$environment" | sed -e 's/^.*"RDS_USERNAME":"\([^"]*\)".*$/\1/')"
      password="$(echo "$environment" | sed -e 's/^.*"RDS_PASSWORD":"\([^"]*\)".*$/\1/')"

      echo '<?php' > /var/app/current/common/config/database.php
      echo 'return [' >> /var/app/current/common/config/database.php
      echo '    "class" => "yii\db\Connection",' >> /var/app/current/common/config/database.php
      echo '    "dsn" => "mysql:host='$host';dbname='$dbname'",' >> /var/app/current/common/config/database.php
      echo '    "username" => "'$username'",' >> /var/app/current/common/config/database.php
      echo '    "password" => "'$password'",' >> /var/app/current/common/config/database.php
      echo '    "charset" => "utf8",' >> /var/app/current/common/config/database.php
      echo '    "enableQueryCache" => false' >> /var/app/current/common/config/database.php
      echo '];' >> /var/app/current/common/config/database.php
      
      /usr/bin/php /var/app/current/yii migrate --interactive=0
