files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_migrations.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      /usr/bin/composer.phar install -d /var/app/current
      /usr/bin/php /var/app/current/init --env=Production --overwrite=n
      echo '<?php' > /var/app/current/common/config/main-local.php
      echo 'return [];' >> /var/app/current/common/config/main-local.php
      #
      echo '<?php' > /var/app/current/backend/config/params.php
      echo 'return [' >> /var/app/current/backend/config/params.php
      echo '    "adminEmail" => getenv("ADMIN_EMAIL"), ' >> /var/app/current/backend/config/params.php
      echo '    "baseUrlFrontend" => "//obib2.hyntibasoftware.co",' >> /var/app/current/backend/config/params.php
      echo '];' >> /var/app/current/backend/config/params.php

      # migraciones
      ENVIRONMENT="$(/opt/elasticbeanstalk/bin/get-config environment)"
      echo '<?php' > /var/app/current/console/config/database.php
      echo '$connection = json_decode("'$ENVIRONMENT'", true);' >> /var/app/current/console/config/database.php 
      echo 'return [' >> /var/app/current/console/config/database.php
      echo '    "class" => "yii\db\Connection",' >> /var/app/current/console/config/database.php
      echo '    "dsn" => "mysql:host={$connection[\'RDS_HOSTNAME\']};dbname={$connection[\'RDS_DB_NAME\']}",' >> /var/app/current/console/config/database.php
      echo '    "'username' => {$connection['RDS_USERNAME]},",' >> /var/app/current/console/config/database.php
      echo '    "'password' => {$connection['RDS_PASSWORD]},",' >> /var/app/current/console/config/database.php
      echo '    "'charset' => 'utf8',' >> /var/app/current/console/config/database.php
      echo '    "'enableQueryCache' => false' >> /var/app/current/console/config/database.php
      echo '];' >> /var/app/current/console/config/database.php
      
      /usr/bin/php /var/app/current/yii migrate --interactive=0