files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_migrations.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      /usr/bin/composer.phar install -d /var/app/current
      /usr/bin/php /var/app/current/init --env=Production --overwrite=n && /usr/bin/php /var/app/current/yii migrate --interactive=0
      echo '<?php' > /var/app/current/common/config/main-local.php
      echo 'return [];' >> /var/app/current/common/config/main-local.php
      #
      echo '<?php' > /var/app/current/backend/config/params.php
      echo 'return [' >> /var/app/current/backend/config/params.php
      echo '    "adminEmail" => getenv("ADMIN_EMAIL"), ' >> /var/app/current/backend/config/params.php
      echo '    "baseUrlFrontend" => "//obib2.hyntibasoftware.co",' >> /var/app/current/backend/config/params.php
      echo '];' >> /var/app/current/backend/config/params.php